<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
       
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <!-- Main content -->  
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-5 mx-2 blockquote">Solicitudes</h2>
          <div class="card">
            <div class="card-header">
              <nav class="navbar bg-light mx-3">
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                  </form>
<!--        
                  <button routerLink="../crear-solicitud" class="btn btn-success float-right mt-1"><i class="fa-solid fa-plus"></i></button> -->
                </nav>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <section class="ftco-section">
                <div class="container">
                  <div class="row justify-content-center">
            
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="table-wrap">


                        <table id="example2" class="table table-bordered table-hover">
                          <thead class="table-dark">
                            <tr>
                              <th>Id solicitud</th>
                              <th>Nombre Cliente</th>
                              <th>Estado</th>
                              <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let solicitud of solicitudesArray">
                               <td>{{ solicitud.idSolicitud }}</td>
                               <td>{{ solicitud.nombreCliente }}</td>
                               <td>
                                <select class="form-select" aria-label="Default select example">
                                  <option value="1">Aprobada</option>
                                  <option value="2">Por aprobar</option>
                                  <option value="3">Recibida</option>
                                </select>
                               </td>
                               
                               <td><button routerLink="../modificar-solicitud" class="btn btn-warning m-2"><i class="fa-solid fa-pen-to-square"></i></button><button class="btn btn-danger" (click)="eliminarSolicitud(solicitud)"><i class="fa-sharp fa-solid fa-trash-can"></i></button></td>
                         
                         
                            </tbody>
                         
                        </table>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            
            </div>
            <!-- /.card-body -->
          </div>
      
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->


  </section>

  

  </div>

  <!-- <router-oulet></router-oulet> -->