<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-4 mx-2 blockquote">Servicios</h2>


                    <!-- /.card-header -->
                    <div class="card-body">
                        <section class="ftco-section">
                            <div class="container">
                                <div class="row justify-content-center">

                                </div>
                                <div class="row">
                                    <div class="col-md-12">


                                  
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <img src="../../../assets/img/remodelacion.jpg" class="card-img-top" alt="..." height="300px">
                                            <div class="card-body">
                                                <h5 class="card-title">Remodelación de cocina</h5>
                                                <div class="card-text">
                                                    <button
                                                    class="btn btn-warning float-left mt-1"
                                                    routerLink="../crear-solicitudesCliente"
                                                    >
                                                    Solicitar
                                                </button>
                                                    <button
                                                        class="btn btn-success float-right mt-1"
                                                        data-toggle="modal"
                                                        data-target="#crearMaterial"
                                                        >
                                                        Ver más
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <img src="../../../assets/img/baldosas.jpg" class="card-img-top" alt="..." height="300px">
                                            <div class="card-body">
                                                <h5 class="card-title">Embaldosado</h5>
                                                <div class="card-text mt-3">
                                                    <button
                                                        class="btn btn-warning float-left mt-1"
                                                        routerLink="../crear-solicitudesCliente"
                                                        >
                                                        Solicitar
                                                    </button>
                                                    <button
                                                    class="btn btn-success float-right mt-1"
                                                    data-toggle="modal"
                                                    data-target="#crearMaterial"
                                                    >
                                                    Ver más
                                                </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <img src="../../../assets/img/estructura.jpg" class="card-img-top" alt="..." height="300px">
                                            <div class="card-body">
                                                <h5 class="card-title">Contrucción de estructura</h5>
                                                <div class="card-text">
                                                    <button
                                                    class="btn btn-warning float-left mt-1"
                                                    routerLink="../crear-solicitudesCliente"
                                                    >
                                                    Solicitar
                                                </button>
                                                    <button
                                                        class="btn btn-success float-right mt-1"
                                                        data-toggle="modal"
                                                        data-target="#crearMaterial"
                                                        >
                                                        Ver más
                                                    </button>
                                                </div>
                                            </div>
                                        </div>





                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <!-- /.card-body -->
                </div>

                <!-- /.card -->

                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->




        <div
      class="modal fade"
      id="crearMaterial"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Descripción
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <!-- Info boxes -->
              <div class="row">
                <div class="col-lg-12">
                 

                  <p>Los azulejos y paredes de la cocina lucen desgastadas, tienen manchas y su color es distinto al original. Esto es una señal clara de cambiar los pisos. Mira estas opciones y aprende cómo remodelar una cocina con los pisos de porcelanato para cocinas.</p>


                  <div class="mb-3" class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Volver
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    </section>



</div>