<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
       
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <!-- Main content -->  
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-5 mx-2 blockquote">Obras</h2>
          <div class="card">
            <div class="card-header">
              <nav class="navbar bg-light mx-3">
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                  </form>
       
              </nav>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <section class="ftco-section">
                <div class="container">
                  <div class="row justify-content-center">
            
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="table-wrap">


                        <table id="example2" class="table table-bordered table-hover">
                          <thead class="table-dark">
                            <tr>
                              <th>Servicios</th>
                              <th>Cantidad</th>
                              <th>Estado obra</th>
                              <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let obra of obras">
                               <td>{{ obra.servicios }}</td>
                               <td>{{ obra.cantidad }}</td>
                               <td>{{ obra.estado }}</td>
                               
                               <td><button class="btn btn-danger" (click)="eliminarObra(obra)"><i class="fa-sharp fa-solid fa-trash-can"></i></button></td>
                         
                         
                            </tbody>
                         
                        </table>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            
            </div>
            <!-- /.card-body -->
          </div>
      
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->


  </section>


  </div>